{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Alunos - IFRN</title>
</head>
<body>
    <h1>Controle de Alunos - IFRN</h1>
    
    <form action="{% url "core:create_aluno" %}" method="POST">
        {% csrf_token %}
        <input type="text" name="nome_aluno" placeholder="Nome">

        <input type="date" name="data_nascimento" placeholder="Data de Nascimento">

        <input type="text" name="endereco" placeholder="Endereço">

        <input type="email" name="email" placeholder="Email">

        <select name="curso" id="curso">
            {% for curso in cursos %}
                <option value="{{curso.id}}">{{curso.nome_curso}}</option>
            {% endfor %}
        </select>

        <select name="cidade" id="cidade">
            {% for cidade in cidades %}
                <option value="{{cidade.id}}">{{cidade.nome_cidade}}</option>
            {% endfor %}
        </select>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>
