<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Aluno - IFRN</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-light">

    <div class="container mt-5">

        <h1 class="display-4 mb-4">Controle de Alunos - IFRN</h1>
        <h2 class="h4 mb-4">Detalhes do Aluno</h2>

        <ul class="list-group">
            <li class="list-group-item">Nome: {{aluno.nome_aluno}}</li>
            <li class="list-group-item">Data de Nascimento: {{aluno.data_nascimento}}</li>
            <li class="list-group-item">Email: {{aluno.email}}</li>
            <li class="list-group-item">Cidade: {{aluno.cidade}}</li>
            <li class="list-group-item">Endereço: {{aluno.endereco}}</li>
            <li class="list-group-item">Curso: {{aluno.curso}}</li>
        </ul>

    </div>

</body>
</html>
