<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Alunos - IFRN</title>
</head>
<body>
    <h1>Controle de Alunos - IFRN</h1>
    <form action="{% url "core:create_aluno" %}" method="GET">
        <button type="submit"> + Novo Aluno</button>
    </form>
    
    </a>
    <ul>
        {% for aluno in alunos %}
            <li> {{aluno.id}} - {{aluno.nome_aluno}} - {{aluno.cidade}} - {{aluno.curso}} </li>
        {% endfor %}
    </ul>

</body>
</html>