<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Alunos - IFRN</title>
</head>
<body>
    <h1>Controle de Alunos - IFRN</h1>
    <form action="{% url "core:create_aluno" %}" method="GET">
        <button type="submit"> + Novo Aluno</button>
    </form>
    
    </a>
    <ul>
        {% for aluno in alunos %}
            <li> <a href="{% url "core:detail" aluno.id %}">{{aluno.nome_aluno}}</a> - {{aluno.data_nascimento}} - {{aluno.cidade}} - {{aluno.curso}} - 
                <form action="{% url "core:update" aluno.id %}" method="GET">
                <button type="submit">Editar</button>
            </form>

            <form action="{% url "core:delete" aluno.id %}" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir este aluno?');">
                {% csrf_token %}
                <button type="submit">Excluir</button>
            </form></li>
        {% endfor %}
    </ul>

</body>
</html>