{% extends 'base.html' %}

{% block center %}
  <h2>Hospedagens</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Data de Entrada</th>
        <th>Data de Saída</th>
        <th>Valor</th>
        <th>Quarto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ hospedagem.cliente }}</td>
        <td>{{ hospedagem.data_entrada }}</td>
        <td>{{ hospedagem.data_saida}}</td>
        <td>{{ hospedagem.valor }}</td>
        <td>{{ hospedagem.quarto.apartamento }}</td>
      </tr>
    
    </tbody>
  </table>
{% endblock %}