{% extends 'base.html' %}

{% block center %}
  <h2>Hospedagens</h2>

  <a href="{% url 'criar_hospedagem' %}" class="btn btn-success mb-3">Nova Hospedagem</a>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Data de Entrada</th>
        <th>Data de Saída</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

      {% for hospedagem in hospedagens %}  
      <tr>
        <td>{{ hospedagem.cliente }}</td>
        <td>{{ hospedagem.data_entrada }}</td>
        <td>{{ hospedagem.data_saida}}</td>
        <td>
          <a href="{% url 'editar_hospedagem' id=hospedagem.id %}" class="btn btn-primary btn-sm">Editar</a>
          <a href="{% url 'excluir_hospedagem' hospedagem.id %}" class="btn btn-danger btn-sm">Remover</a>
          <a href="{% url 'detalhar_hospedagem' hospedagem.id %}" class="btn btn-primary btn-sm">Detalhar</a>
        </td>
      </tr>
      {% endfor %}
    
    </tbody>
  </table>
{% endblock %}